@media screen and (min-width:1025px) {
    .container{
        width: 70%;
    }
    /* header  */
    .list-nav{
        display: block;
        width: 50%;
    }
    .list-nav ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
       
    }
    header .button{
        background-color: white;
        color: black;
    }
    .bars-nav{
        display: none;
    }

/* MAIN */
/* Demo Section */
.demo .big-card{
    flex-direction: row;
    justify-content: flex-start;
   align-items: end;
}
.demo .big-card-img > img {
    width: 100%;
}
.demo .big-card-text{
    width: 50%;
    justify-content: flex-start;
}
.demo .big-card-img {
    width: 40%;
}
/*  Strategic Planning */
.strategic .container{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.strategic .container>.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.strategic .col-img{
    margin-bottom: 50%;
}
.strategic .col{
    width: 45%;
}





}