* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
/* General rules */
a {
  color: white;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 80%;
}
.button {
  border-radius: 25px;
  padding: 5px 20px;
  background-color: blue;
  color: black;
}
section{
    margin:10% auto;
    padding: 10% 0;
}
/*  header css */
header {
  background-color: rgb(0, 132, 253);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
header img {
  width: 80%;
  margin: 10% 0;
}
.list-nav {
  display: none;
}

.fa-solid {
  color: white;
} /*  MAIN */
/*  FIRST SECTION */
/* .demo {
  padding-top: 10%;
} */
.demo .fa-solid {
  color: rgb(0, 132, 253);
  font-size: 4rem;
}
/* general card */
.demo .card {
  background-color: rgb(181, 221, 255);
  border-radius: 25px;
  padding: 5%;
  text-align: center;
  margin-bottom: 5%;
}
.demo .big-card-text>*,
.demo .card>*{
    margin-bottom: 5%;
}
.demo .big-card{
    padding: 0;
}
.demo .big-card-text {
  text-align: start;
  padding: 5%;
}
.demo .button {
  display: block;
  width: 80%;
  text-align: center;
  color: white;
  background-color: rgb(0, 132, 253);
}

.demo .big-card-img > img {
  width: 100%;
  
}
.demo h2{
    color: rgb(0, 132, 253);
}
.demo .card>*{
    margin-bottom: 5%;
}
.demo .big-card>*{
    margin-bottom: 0;
}
/*  strategic section */
.strategic{
    background-color: rgb(151, 146, 228);
    color: white;
    text-align: center;
}
.strategic img{
    width: 100%;
}
.strategic .container>*{
    margin-bottom: 10%;
}
.strategic h2{
    margin-bottom: 5%;
}
.strategic h2+p{
    text-align: start;
} 
.strategic .card{
    background-color: white;
    border-radius: 25px;
    color: black;
    padding: 5% 0;
}
.strategic .card>*{
    margin-bottom: 5%;
    
}
.strategic .fa-solid{
    color: black;
}
.strategic .button{
    margin:5% auto;
    width: min-content;
    border-radius:100%;
    background-color: rgb(151, 146, 228);
    padding: 10px;
    font-size: small;
}
/* Testimonials */
.testimonials{
    text-align: center;
}
.testimonials h3{
    color:  rgb(151, 146, 228);
    font-size: 32px;
}
.testimonials .card{
    margin: 5% auto;
    border-radius: 25px;
    background-color:  rgb(151, 146, 228);
    color: white;
}
.testimonials .card>img{
    width:100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 5% auto;
}
.testimonials .card p{
    margin: 5% auto;
    padding: 5% 0;
}
/* Benefits */
.benefits{
    background-color:rgb(151, 146, 228) ;
    color: white;
}
.benefits .card{
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 5%;
    margin: 5% auto;
}
.benefits h2{
    text-align: center;
    font-size: 30px;

}
.benefits h1,
.benefits h3{
    color: rgb(151, 146, 228);
}

.benefits .button{
    width: 30%;
    text-align: center;
    background-color: rgb(151, 146, 228);
    color: white;
}
.benefits .card>*{
    margin-bottom: 5%;
}
/* About Us */
.about-us img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.about-us h3,
.about-us h2{
    color:rgb(151, 146, 228);
}
.about-us .button{
    color: white;
    background-color: rgb(151, 146, 228);
    width: 70%;
    text-align: center;
    line-height: 25px;
}

.about-us .container *{
    margin-bottom: 5%;
}
/* get-start */
.get-start{
    background-color:rgb(151, 146, 228);
    color: white;
    margin-bottom: 0;
    text-align: center;
}
.get-start .container>*{
    margin-bottom: 5%;
}
.get-start h1{
    color:rgb(253, 193, 95);
}
.get-start .button{
    background-color: white;
    color:rgb(151, 146, 228);
    padding: 5% 0;
    width: 80%;
    margin: 5% auto;
}

.get-start li{
    display: contents;
    list-style: circle;
    font-size: x-large;
}
.get-start li>a{
    text-decoration: underline;
    
}
/*  footer */
footer{
    background-color:rgb(51, 51, 51);
    color: white;
}

footer *{
    padding: 5% 0;
    margin-bottom: 5%;
}
footer a{
    color: violet;
    text-decoration: underline;
}