* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* General rules */
a {
  color: white;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 80%;
}
.button {
  border-radius: 25px;
  padding: 5px 20px;
  background-color: blue;
  color: black;
}
section{
    margin:10% auto;
    padding: 10% 0;
}
/*  header css */
header {
  background-color: rgb(0, 132, 253);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
header img {
  width: 80%;
  margin: 10% 0;
}
.list-nav {
  display: none;
}

.fa-solid {
  color: white;
} /*  MAIN */
/*  FIRST SECTION */
/* .demo {
  padding-top: 10%;
} */
.demo .fa-solid {
  color: rgb(0, 132, 253);
  font-size: 4rem;
}
/* general card */
.demo .card {
  background-color: rgb(181, 221, 255);
  border-radius: 25px;
  padding: 5%;
  text-align: center;
  margin-bottom: 5%;
}
.demo .big-card-text>*,
.demo .card>*{
    margin-bottom: 5%;
}
.demo .big-card{
    padding: 0;
}
.demo .big-card-text {
  text-align: start;
  padding: 5%;
}
.demo .button {
  display: block;
  width: 80%;
  text-align: center;
  color: white;
  background-color: rgb(0, 132, 253);
}

.demo .big-card-img > img {
  width: 100%;
  
}
.demo h2{
    color: rgb(0, 132, 253);
}
.demo .card>*{
    margin-bottom: 5%;
}
.demo .big-card>*{
    margin-bottom: 0;
}
/*  strategic section */
.strategic{
    background-color: rgb(151, 146, 228);
    color: white;
    text-align: center;
}
.strategic img{
    width: 100%;
}
.strategic .container>*{
    margin-bottom: 10%;
}
.strategic h2{
    margin-bottom: 5%;
}
.strategic h2+p{
    text-align: start;
} 
.strategic .card{
    background-color: white;
    border-radius: 25px;
    color: black;
    padding: 5% 0;
}
.strategic .card>*{
    margin-bottom: 5%;
    
}
.strategic .fa-solid{
    color: black;
}
.strategic .button{
    margin:5% auto;
    width: min-content;
    border-radius:100%;
    background-color: rgb(151, 146, 228);
    padding: 10px;
    font-size: small;
}


